# Handling Energy Consumption Data with Pandas: Missing Values and Data Preprocessing

### Objectives:

1.Handling Missing Values: We will demonstrate how to handle missing values in energy consumption data by removing rows/columns, imputing values using mean/median, applying forward/backward filling, and flagging missing data.

2.Data Preprocessing: We will normalize/standardize the data, encode categorical variables, and implement feature engineering for further analysis.

### Step 1: Import Pandas and Create a Dataset with Missing Values

Weâ€™ll first import the necessary libraries and create a dataset that includes some missing values (NaN).

In [2]:
import pandas as pd
import numpy as np

# Sample data with missing values
data = {
    "Energy Source": ["Solar", "Wind", "Hydropower", "Geothermal", "Biomass", "Nuclear"],
    "Energy Consumption (MWh)": [1200, np.nan, 2900, np.nan, 2500, 3200],
    "Cost (Million $)": [200, 400, np.nan, 150, 250, np.nan]
}

# Create a DataFrame
energy_df = pd.DataFrame(data)

print("Original Energy Data with Missing Values:")
print(energy_df)

Original Energy Data with Missing Values:
  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                       NaN             400.0
2    Hydropower                    2900.0               NaN
3    Geothermal                       NaN             150.0
4       Biomass                    2500.0             250.0
5       Nuclear                    3200.0               NaN

In [3]:
energy_df.isnull().sum()

Energy Source               0
Energy Consumption (MWh)    2
Cost (Million $)            2
dtype: int64

We created a Pandas DataFrame energy_df representing energy sources and their consumption and costs.

The dataset includes some NaN (missing) values, which we will handle in the next steps.

### 1. Handling Missing Values

#### 1.1. Remove Rows with Missing Values

We can remove rows that contain any missing values using dropna().

In [4]:
# Remove rows with any missing values
cleaned_df = energy_df.dropna() # axis=1

print("\nData After Removing Rows with Missing Values:")
cleaned_df.head()

Data After Removing Rows with Missing Values:

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
4       Biomass                    2500.0             250.0

The above code snippet removes rows where any column has missing data. This method is straightforward but may result in losing a significant amount of data.

#### 1.2. Impute Missing Values with the Mean

Instead of removing rows, we can impute missing values by filling them with the mean value of the column.

In [5]:
ec_m = energy_df["Energy Consumption (MWh)"].mean()
c_m = energy_df["Cost (Million $)"].mean()
print("Mean of Energy Consumption:", ec_m)
print("Mean of Cost:", c_m)

Mean of Energy Consumption: 2450.0
Mean of Cost: 250.0

In [6]:
# Impute missing values in 'Energy Consumption (MWh)' with the mean
energy_df["Energy Consumption (MWh)"].fillna(ec_m, inplace=True)

# Impute missing values in 'Cost (Million $)' with the mean
energy_df["Cost (Million $)"].fillna(c_m, inplace=True)

print("\nData After Imputing Missing Values with Mean:")
energy_df.head()

Data After Imputing Missing Values with Mean:

C:\Users\Sampreet\AppData\Local\Temp\ipykernel_18204\3528430686.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  energy_df["Energy Consumption (MWh)"].fillna(ec_m, inplace=True)
C:\Users\Sampreet\AppData\Local\Temp\ipykernel_18204\3528430686.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  energy_df["Cost (Million $)"].fillna(c_m, inplace=True)

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                    2450.0             400.0
2    Hydropower                    2900.0             250.0
3    Geothermal                    2450.0             150.0
4       Biomass                    2500.0             250.0

We used the mean imputation method to fill missing values in both the Energy Consumption (MWh) and Cost (Million $) columns, ensuring that we retain the dataset while handling missing values.

#### 1.3. Forward/Backward Filling

Another method is forward filling, where missing values are replaced by the previous valid entry.

In [7]:
# Redefine DataFrame
energy_df = pd.DataFrame(data)

# Forward fill missing values
# forward_filled_df = energy_df.fillna(method="ffill")

forward_filled_df = energy_df.ffill()

print("\nData After Forward Filling:")
forward_filled_df.head()

Data After Forward Filling:

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                    1200.0             400.0
2    Hydropower                    2900.0             400.0
3    Geothermal                    2900.0             150.0
4       Biomass                    2500.0             250.0

In [8]:
# Redefine DataFrame
energy_df = pd.DataFrame(data)
#energy_df.head()
backward_filled_df = energy_df.bfill()

print("\nData After Backward Filling:")
backward_filled_df.head()

Data After Backward Filling:

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                    2900.0             400.0
2    Hydropower                    2900.0             150.0
3    Geothermal                    2500.0             150.0
4       Biomass                    2500.0             250.0

Forward filling (ffill) replaces missing values with the previous non-missing value in the column, which is useful when data is time-series-based.

#### 1.4. Flag Missing Values

We can also create a separate column to flag missing values before imputation.

In [9]:
# Redefine DataFrame
energy_df = pd.DataFrame(data)

# Create a flag column indicating missing values in 'Energy Consumption (MWh)'
energy_df["Missing Consumption"] = energy_df["Energy Consumption (MWh)"].isna().astype(int)

print("\nData with Missing Values Flagged:")
print(energy_df)

Data with Missing Values Flagged:
  Energy Source  Energy Consumption (MWh)  Cost (Million $)  \
0         Solar                    1200.0             200.0
1          Wind                       NaN             400.0
2    Hydropower                    2900.0               NaN
3    Geothermal                       NaN             150.0
4       Biomass                    2500.0             250.0
5       Nuclear                    3200.0               NaN

   Missing Consumption
0                    0
1                    1
2                    0
3                    1
4                    0
5                    0

The Missing Consumption column flags missing values with 1 (missing) or 0 (not missing), which helps track imputed values.

### 2. Data Preprocessing

#### 2.1. Normalization (Min-Max Scaling)

We will scale the data to a range between 0 and 1 using Min-Max Scaling.

In [10]:
d = [2,4,3,6]

x_s1 = 0
x_s2 = 0.5
x_s3 = 0.25
x_s4 = 1

## xi = xi - xmin / xmax - xmin

In [11]:
import pandas as pd
energy_df = pd.DataFrame(data)

from sklearn.preprocessing import MinMaxScaler

# Normalize the 'Energy Consumption (MWh)' and 'Cost (Million $)'
scaler = MinMaxScaler()

energy_df[["Energy Consumption (MWh)", "Cost (Million $)"]] = scaler.fit_transform(energy_df[["Energy Consumption (MWh)", "Cost (Million $)"]])

print("\nData After Normalization (Min-Max Scaling):")
print(energy_df)

Data After Normalization (Min-Max Scaling):
  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                      0.00               0.2
1          Wind                       NaN               1.0
2    Hydropower                      0.85               NaN
3    Geothermal                       NaN               0.0
4       Biomass                      0.65               0.4
5       Nuclear                      1.00               NaN

Min-Max Scaling normalizes the energy consumption and cost values, scaling them to a range between 0 and 1. This is useful when comparing features with different units or magnitudes.

#### 2.2. Standardization (Z-score Scaling)

Alternatively, we can use standardization, which centers the data around a mean of 0 with a standard deviation of 1.

In [12]:
from sklearn.preprocessing import StandardScaler

# Standardize the 'Energy Consumption (MWh)' and 'Cost (Million $)'
scaler = StandardScaler()
energy_df[["Energy Consumption (MWh)", "Cost (Million $)"]] = scaler.fit_transform(
    energy_df[["Energy Consumption (MWh)", "Cost (Million $)"]]
)

print("\nData After Standardization (Z-score Scaling):")
print(energy_df)

Data After Standardization (Z-score Scaling):
  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                 -1.637804         -0.534522
1          Wind                       NaN          1.603567
2    Hydropower                  0.589610               NaN
3    Geothermal                       NaN         -1.069045
4       Biomass                  0.065512          0.000000
5       Nuclear                  0.982683               NaN

Z-score scaling standardizes the values, making the mean 0 and standard deviation 1, which is useful when dealing with normally distributed data.

#### 2.3. Encoding Categorical Variables

Weâ€™ll convert the categorical column Energy Source into numeric format using one-hot encoding.

In [13]:
# One-hot encode the 'Energy Source' column
energy_encoded_df = pd.get_dummies(energy_df, columns=["Energy Source"])

print("\nData After One-Hot Encoding Categorical Variables:")
print(energy_encoded_df)

Data After One-Hot Encoding Categorical Variables:
   Energy Consumption (MWh)  Cost (Million $)  Energy Source_Biomass  \
0                 -1.637804         -0.534522                  False
1                       NaN          1.603567                  False
2                  0.589610               NaN                  False
3                       NaN         -1.069045                  False
4                  0.065512          0.000000                   True
5                  0.982683               NaN                  False

   Energy Source_Geothermal  Energy Source_Hydropower  Energy Source_Nuclear  \
0                     False                     False                  False
1                     False                     False                  False
2                     False                      True                  False
3                      True                     False                  False
4                     False                     False                  False
5                     False                     False                   True

   Energy Source_Solar  Energy Source_Wind
0                 True               False
1                False                True
2                False               False
3                False               False
4                False               False
5                False               False

One-hot encoding converts the Energy Source column into multiple binary columns, each representing the presence (1) or absence (0) of a specific energy source.

#### 2.4. Feature Engineering

We can create a new feature that represents the ratio of energy consumption to cost.

In [14]:
# Create a new feature: Energy Consumption per Million $
energy_encoded_df["Consumption per $Million"] = energy_encoded_df["Energy Consumption (MWh)"] / energy_encoded_df["Cost (Million $)"]

print("\nData with New Feature (Consumption per $Million):")
print(energy_encoded_df)

Data with New Feature (Consumption per $Million):
   Energy Consumption (MWh)  Cost (Million $)  Energy Source_Biomass  \
0                 -1.637804         -0.534522                  False
1                       NaN          1.603567                  False
2                  0.589610               NaN                  False
3                       NaN         -1.069045                  False
4                  0.065512          0.000000                   True
5                  0.982683               NaN                  False

   Energy Source_Geothermal  Energy Source_Hydropower  Energy Source_Nuclear  \
0                     False                     False                  False
1                     False                     False                  False
2                     False                      True                  False
3                      True                     False                  False
4                     False                     False                  False
5                     False                     False                   True

   Energy Source_Solar  Energy Source_Wind  Consumption per $Million
0                 True               False                  3.064052
1                False                True                       NaN
2                False               False                       NaN
3                False               False                       NaN
4                False               False                       inf
5                False               False                       NaN

This new feature, Consumption per $Million, calculates how much energy is produced per million dollars spent, providing insight into the efficiency of energy sources.

#### Conclusion

In this lab assignment, we handled missing values in energy consumption data by:

    Removing rows with missing values,
    Imputing missing values with the mean,
    Using forward filling, and
    Flagging missing values.

We then applied data preprocessing techniques such as normalization, standardization, encoding categorical variables, and feature engineering to enhance the dataset. These methods help prepare data for deeper analysis, modeling, and machine learning applications by ensuring that itâ€™s clean, consistent, and ready for further use.